@{
    ViewBag.Title = "Home Page";
  //  Layout = "";
}


    <div class="product-info">
        <img src="~/Image/1239723_729301683756820_680049225_n.jpg" />
        <h1>Camera Phone1</h1>
        <ul class="product-props">
            <li>Price: $9.99 </li>
            <li>Manfacture: Nokia </li>
            <li>Title: Nokia XL</li>
            <li>Description: This is camera phone for shooting a beautiful scens in your life</li>

        </ul>
        <button type="submit" id="buyButton">Buy</button>
    </div>

    <div id="theForm">
        <form>
            <label>UserName: </label>
            <br />
            <input type="text" name="" id="" />
            <br />
            <label>Password: </label>
            <br />
            <input type="password" name="" id="" />
            <br />
            <label>Email: </label>
            <br />
            <input type="email" name="" id="" />
            <br />
            <label>Subject: </label>
            <br />
            <input type="text" name="" id="" />
            <br />
            <label>Message: </label>
            <br />
            <textarea rows="4"></textarea>
            <br />

            <input type="submit" value="Send" />
        </form>

    </div>

    <div>
        <div id="loginToggle">Login</div>
        <form class="popup-form">
            <div>
                <label>UserName</label>
                <input type="text" />
            </div>
            <div>
                <label>Password</label>
                <input type="password" />
            </div>
            <div>
                <input type="checkbox" />
                <label>Remember Me</label>
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>

    </div>
    